
.container-start {
    width: 300x;
    height: 400px;
    position: absolute; 
    top: 320px;
    left: 580px;

}

#gamestart-screen {
  margin: auto;
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  color: rgb(22, 164, 27);
  text-align: center;
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 1px 32px white;
  transform: rotate(0) scale(0);
  animation: boom 1s linear;
  animation-fill-mode: forwards;
  display: flex;
  
}

@keyframes boom {
  100% {
    transform: rotate(1080deg) scale(1);
  }
}

.h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2 {
  justify-content: center;
  padding: 20px;
}


h1 {
  text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

.grid {
    width: 1000px;
    height: 745px;
    border: inset green 10px;
    padding-top: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid div {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur815.ani), url(https://cur.cursors-4u.net/cursors/cur-9/cur815.png), auto !important;} /* End https://www.cursors-4u.com */
body {
  background-image: url('background-image-galaxy.gif');
  font-family: 'Bungee Outline', cursive;
  font-size: 25px;
  margin: 0px;
  height: 100%;
}

#score {
  color: silver;
}

.score {
  color:white;
  text-align: center;
  padding-bottom: 20px;
  color: green;
  font-size: larger;
}

.alien {
    background-image: url('alienpurple.png');
    width: 50px;
    height: 50px;
}

.blasted {
  background-image: red;
}

.shooter {
    background-image: url('almir-sharifullin-1st-spaceship_60x60.gif');

}

.bullet {
  background-image: url('pngegg.png');
}
