.container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

.grid {
    width: 1000px;
    height: 745px;
    border: inset green 10px;
    padding-top: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 40px;
}

.grid div {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur815.ani), url(https://cur.cursors-4u.net/cursors/cur-9/cur815.png), auto !important;} /* End https://www.cursors-4u.com */
body {
  background-image: url('background-image-galaxy.gif');
  font-family: 'Bungee Outline', cursive;
  font-size: 25px;
}

h1 {
text-align: center;
}

#score {
  color: silver;
}

.score {
  color:white;
  text-align: center;
  padding-bottom: 20px;
  color: green;
}
.alien {
    background-image: url('alienpurple.png');
    width: 50px;
    height: 50px;
}

.shooter {
    background-image: url('almir-sharifullin-1st-spaceship_60x60.gif');

}

.bullet {
  background-image: url('pngegg.png');
}


