.container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

.grid {
    width: 1000px;
    height: 745px;
    border: inset green 10px;
    padding-top: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 40px;
}

.grid div {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  background-image: url('background.gif')
}

h1 {
text-align: center;
}

#score {
  color:seashell;
}

.score {
  color:white;
  text-align: center;
  padding-bottom: 20px;
}
.alien {
    background-image: url('alienpurple.png');
    width: 50px;
    height: 50px;
}

.shooter {
    background-image: url('Daco_34602_70x96.png');

}

.bullet {
  background-color: red;
}
